# https://nexty.dev/docs/start-project/enviroment

# -----------------------------------------------------------------------------
# Site info (required)
# -----------------------------------------------------------------------------
NEXT_PUBLIC_SITE_URL=http://localhost:3000
NEXT_PUBLIC_PRICING_PATH="/#pricing"
NEXT_PUBLIC_LOCALE_DETECTION=false
NEXT_PUBLIC_OPTIMIZED_IMAGES=false
NEXT_PUBLIC_LOGIN_MODE='page' # Login mode: 1️⃣page(redirect to login), 2️⃣dialog(popup login dialog)
NEXT_PUBLIC_COOKIE_CONSENT_ENABLED="false"

#------------------------------------------------------------------------
# Database
# https://nexty.dev/docs/integration/database
#------------------------------------------------------------------------
DATABASE_URL=""

#------------------------------------------------------------------------
# Auth - better-auth
# Generate BETTER_AUTH_SECRET using `openssl rand -base64 32`
# https://nexty.dev/docs/integration/auth
#------------------------------------------------------------------------
BETTER_AUTH_SECRET=""
NEXT_PUBLIC_GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
NEXT_PUBLIC_GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

#------------------------------------------------------------------------
# Cloudflare Turnstile
# https://nexty.dev/docs/integration/auth
#------------------------------------------------------------------------
NEXT_PUBLIC_TURNSTILE_SITE_KEY=
TURNSTILE_SECRET_KEY=

#------------------------------------------------------------------------
# Resend
# https://nexty.dev/docs/integration/resend
# https://nexty.dev/docs/integration/domain-email
#------------------------------------------------------------------------
RESEND_API_KEY=
RESEND_AUDIENCE_ID=
ADMIN_EMAIL=
ADMIN_NAME=

#------------------------------------------------------------------------
# Upstash
# https://nexty.dev/docs/integration/upstash
#------------------------------------------------------------------------
UPSTASH_REDIS_REST_URL=
UPSTASH_REDIS_REST_TOKEN=
UPSTASH_REDIS_NEWSLETTER_RATE_LIMIT_KEY=
DAY_MAX_SUBMISSIONS=

#------------------------------------------------------------------------
# stripe
# API Docs: https://docs.stripe.com/api
# https://nexty.dev/docs/integration/stripe
#------------------------------------------------------------------------
NEXT_PUBLIC_ENABLE_STRIPE=true
NEXT_PUBLIC_DEFAULT_CURRENCY=usd
STRIPE_SECRET_KEY=
STRIPE_PUBLISHABLE_KEY=
STRIPE_WEBHOOK_SECRET=
# STRIPE_WEBHOOK_ASYNC_PROCESSING:
# Set to false to leverage Stripe's retry mechanism; set to true if you are responsible for building reliable background processing, allowing for faster Stripe webhook responses and reducing duplicate event triggers.
# 依赖 Stripe 的重试机制，设置为 false；自己有能力构建后台处理的可靠性保障，设置为 true，这样可以更快响应 stripe webhook，减少重复事件触发
# Stripe の再試行メカニズムに依存する場合は false に設定します。 独自のバックグラウンド処理による信頼性確保を構築する場合は true に設定し、Stripe Webhook へのより迅速な応答と重複イベントのトリガーを削減します。
STRIPE_WEBHOOK_ASYNC_PROCESSING=false
# Subscription Management Page
STRIPE_CUSTOMER_PORTAL_URL=/dashboard/subscription

#------------------------------------------------------------------------
# Cloudflare R2
# https://nexty.dev/docs/integration/cloudflare-r2
#------------------------------------------------------------------------
R2_ACCOUNT_ID=
R2_ACCESS_KEY_ID=
R2_SECRET_ACCESS_KEY=
R2_BUCKET_NAME=
# R2_PUBLIC_URL should start with 'https://' 
R2_PUBLIC_URL=

#------------------------------------------------------------------------
# AI
# OpenAI: https://platform.openai.com/docs/overview
# DeepSeek: https://api-docs.deepseek.com/
# Anthropic: https://docs.anthropic.com/en/docs/welcome
# Grok: https://docs.x.ai/docs/overview
# Gemini: https://ai.google.dev/gemini-api/docs
# Replicate: https://replicate.com/
#------------------------------------------------------------------------
OPENAI_API_KEY=
DEEPSEEK_API_KEY=
ANTHROPIC_API_KEY=
XAI_API_KEY=
GOOGLE_GENERATIVE_AI_API_KEY=
REPLICATE_API_TOKEN=
OPENROUTER_API_KEY=

#------------------------------------------------------------------------
# Translate
# route: /api/admin/translate
# support providers: openai, deepseek, anthropic, xai, google
#------------------------------------------------------------------------
NEXT_PUBLIC_AI_MODEL_ID=
NEXT_PUBLIC_AI_PROVIDER=

# -----------------------------------------------------------------------------
# Analytics & Ads
# Google Analytics: https://analytics.google.com/analytics/web/
# Baidu Tongji: https://tongji.baidu.com/
# Plausible: https://plausible.io/
# Google Adsense: https://www.google.com/adsense/
# -----------------------------------------------------------------------------
NEXT_PUBLIC_GOOGLE_ID=
NEXT_PUBLIC_BAIDU_TONGJI=
NEXT_PUBLIC_PLAUSIBLE_SRC=
NEXT_PUBLIC_PLAUSIBLE_DOMAIN=
PLAUSIBLE_API_KEY=
PLAUSIBLE_URL=
NEXT_PUBLIC_GOOGLE_ADSENSE_ID=

# -----------------------------------------------------------------------------
# Discord
# -----------------------------------------------------------------------------
NEXT_PUBLIC_DISCORD_INVITE_URL=""

# ---
# Tolt.io(Affiliates): https://app.tolt.io/
# ---
NEXT_PUBLIC_TOLT_ID=